<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <form action = "#" method = "post">
        City: <input type = "text" name = "city"><br />
        <br>
        <input type = "submit" value = "Submit" />
        </form>
        <p>
            City: {{city}} <br>
            Region: {{region}} <br>
            Country: {{country}}<br>
            Wind Speed: {{wind}} <br>
            Temperature : {{temp_f}}<br>
            <img src={{icon}}><br>
        
        
        </p>
    
</body>
</html>